<%- include('./layout/header_auth') %>
<link href="/css/userList.css" rel="stylesheet" />

<div class="userListWrap">
  <div class="listTitle headerFont translationsTitle">
    <p class="semi-bold">All Flags</p>
  </div>

  <div class="userTableWrap">
    <table class="userTable">
      <thead class="table-light">
        <tr class="entryTitle">
          <th scope="col">Word</th>
          <!-- <th scope="col">Reason</th> -->
          <th scope="col">Status</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <% flags.forEach(flag => { %>
          <tr class="entry">
            <td><%= flag.wordId.word %></td>
            <!-- <td><%= flag.flagReason %></td> -->
            <td>
              <span class="badge 
                <%= flag.status === 'pending' ? 'bg-warning text-dark' : 
                      flag.status === 'resolved' ? 'bg-success' : 
                      'bg-secondary' %>">
                <%= flag.status %>
              </span>
            </td>
            <td><%= new Date(flag.createdAt).toLocaleDateString() %></td>
            <td>
              <a href="/admin/flag_view/<%= flag._id %>" class="btn hoverable hoverableBtn">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  </div>
</div>

<%- include('./layout/footer_auth') %>
