<%- include('./layout/header_auth') %>
  <link href="/css/login.css" rel="stylesheet" />

  <p class="title headerFont semi-bold">Edit User</p>

  <div class="feedbackWrap">
    <% if (error) { %>
      <div class="alert alert-danger <%= error ? 'displayAlert' : '' %>"><%= error %></div>
    <% } %>
    <% if (success) { %>
      <div class="alert alert-success <%= success ? 'displayAlert' : '' %>"><%= success %></div>
    <% } %>
  </div>

  <form action="/admin/users/edit/<%= user._id %>" method="POST" class="formWrap editUserWrap">
    
    <div>
      <label for="username" class="form-label">Username</label>
      <input type="text" class="form-control" id="username" name="username" value="<%= user.username %>" required>
    </div>

    <div>
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
    </div>

    <div>
      <label for="role" class="form-label">Role</label>
      <select id="role" name="role" <%= user.role === 'Admin' ? 'disabled="disabled"' : '' %>>
        <option value="Admin" <%= user.role === 'Admin' ? 'selected="selected"' : '' %>>Admin</option>
        <option value="DataEntry" <%= user.role === 'DataEntry' ? 'selected="selected"' : '' %>>Data Entry</option>
      </select>
    </div>

    <div>
      <label for="password" class="form-label">New Password (Leave blank to keep current)</label>
      <input type="password" class="form-control" id="password" name="password">
    </div>

    <div>
      <button type="submit" class="btn submitBtn semi-bold hoverable hoverableBtn">Update User</button>
      <a href="/admin/users" class="btn submitBtn semi-bold hoverable hoverableBtn">Cancel</a>
    </div>

  </form>

<%- include('./layout/footer_auth') %>
