<% if (user) { %> <%- include('./layout/header_auth') %> <% } else { %> <%-
include('./layout/header') %> <% } %>
<link
  href="/css/information.css"
  rel="stylesheet"
/>

<p class="title titleFont"><%= info.title %></p>

<div class="infoDesc">
  <div class="quill-content">
    <%- info.content %>
    <small class="publishDate"
      >Published on: <%= new Date(info.createdAt).toLocaleString() %></small
    >
  </div>
</div>

<% if (user) { %> <%- include('./layout/footer_auth') %> <% } else { %> <%-
include('./layout/footer') %> <% } %>

