<%- include('./layout/header_auth') %>
<link href="/css/userList.css" rel="stylesheet" />

    <div class="userListWrap">
        <div class="listTitle headerFont textWrap">
            <h2 class="semi-bold">Informations</h2>
      
            <!-- Add User Button (Opens Modal) -->
            <a href="/admin/information/add_info" class="addUserBtn textBtn hoverable hoverableBtn">Add Information</a>
        </div>
        
        <div class="userTableWrap">
            <% if (typeof error !== "undefined" && error) { %>
                <div class="alert alert-danger"><%= error %></div>
            <% } %>

            <table class="userTable">
                <thead>
                    <tr class="entryTitle">
                        <th>#</th>
                        <th>Title</th>
                        <th>Status</th>
                        <th>Created By</th>
                        <th>Created At</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% if (data.length === 0) { %>
                        <tr>
                            <td colspan="6" class="text-center">No information entries found</td>
                        </tr>
                    <% } else { %>
                        <% data.forEach((info, index) => { %>
                            <tr class="entry">
                                <td class="px-4"><%= index + 1 %></td>
                                <td><%= info.title %></td>
                                <td><%= info.status %></td>
                                <td><%= info.createdBy?.username || 'N/A' %></td>
                                <td><%= info.createdAt.toLocaleDateString() %></td>
                                <td class="btnWrap">
                                    <a href="/admin/information/<%= info._id %>" class="btn btn-info hoverable hoverableBtn">
                                        <i class="fa-solid fa-arrow-right"></i>
                                    </a>
                                    <a href="/admin/information/<%= info._id %>/edit" class="btn btn-warning hoverable hoverableBtn">
                                        <i class="fa-solid fa-pen"></i>
                                    </a>
                                    <form action="/admin/information/<%= info._id %>/delete" method="POST" class="d-inline">
                                        <button type="submit" class="btn btn-danger hoverable hoverableBtn">
                                            <i class="fa-solid fa-trash"></i>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>

<%- include('./layout/footer_auth') %>
