<%- include('./layout/header') %>
  <link href="/css/login.css" rel="stylesheet" />

  <% if (success) { %>
    <p class="title headerFont semi-bold">Password Reset Complete!</p>
  <% } else { %>
    <p class="title headerFont semi-bold">Reset Your Password</p>
  <% } %>
  <div class="feedbackWrap">

  <% if (error) { %>
    <div class="alert alert-danger <%= error ? 'displayAlert' : '' %>">
      <%= error %>
    </div>
  <% } %>

  <% if (success) { %>
      <div class="pwResetSuccess">
        <i class="fa fa-check-circle pwResetIcon"></i>
        <p class="description pwResetDesc"><%= success %></p>
        <a href="/admin/login" class="btn submitBtn semi-bold hoverable hoverableBtn">Go to Login</a>
      </div>
    </div>
  <% } else { %>
      <!-- <p class="description">
        Enter your new password below.
      </p> -->
    </div>

    <form action="/admin/reset-password" method="POST" class="formWrap">
      <input type="hidden" name="token" value="<%= token %>" />
      <input required type="password" name="password" id="password" placeholder="Enter new password"/>
      <input required type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirm new password"/>
      <button type="submit" class="btn submitBtn semi-bold hoverable hoverableBtn">Reset Password</button>
    </form>
  <% } %>

<%- include('./layout/footer') %>
