<%- include('./layout/header_auth') %>
<link href="/css/userList.css" rel="stylesheet" />

<!-- <div class="container my-4 px-4">
  <div class="d-flex align-items-center justify-content-between flex-wrap">
    <h2 class="mb-3 semi-bold">Words Translation</h2>

    <button class="btn btn-primary mb-3">
      <a href="/admin/translations/add-word" class="text-white text-decoration-none">
        <i class="fa-solid fa-plus"></i> Add New Translation
      </a>
    </button>
  </div> -->

  <div class="userListWrap">
    <div class="listTitle headerFont translationsTitle">
      <p class="semi-bold">Database</p>

      <!-- Add New Translation (Opens Modal) -->
      <button class="addUserBtn textBtn hoverable hoverableBtn">
        <a href="/admin/translations/add-word" class="text-white text-decoration-none">
          <i class="fa-solid fa-plus"></i> Add New Translation
        </a>
      </button>
    </div>

    <!-- Search bar -->
    <form action="/admin/translations" method="GET" class="searchBar">
      <input type="text" name="query" class="form-control" placeholder="Search for a word..."
      value="<%= query %>" />
      <button class="searchBtn hoverable hoverableShadow" type="submit">
        <i class="fa-solid fa-magnifying-glass"></i>
      </button>
    </form>
    <!-- Filter -->
    <div class="filterBy hoverable hoverableShadow" id="filterByBtn"><i class="fa-solid fa-filter"></i> Filter by</div>

    <div class="userTableWrap">
      <% if (error) { %>
        <div class="alert alert-danger"><%= error %></div>
      <% } %>

      <table class="userTable">
        <thead class="table-light">
          <tr class="entryTitle">
            <th>Word</th>
            <th>Audio</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <% if (data.length === 0) { %>
          <tr>
            <td colspan="3" class="text-center">No data found</td>
          </tr>
          <% } else { %>
            <% data.forEach((ele) => { %>
            <tr class="entry">
              <td><%= ele.word %></td>
              <td class="play-audio-td">
                <% if (ele.audioFiles.length > 0) { %>
                  <div class="play-audio" title="Play me">
                    <i class="fa-solid fa-volume-high hoverable-primary pointer text-primary play-audio-player"
                      data-audio="<%= ele.audioFiles[0] %>"></i>
                  </div>
                <% } else { %>
                  <p class="">No Audio Found</p>
                <% } %>
              </td>
              <td>
                <a href="/admin/translations/<%= ele.id %>" class="btn hoverable hoverableBtn">
                  <i class="fa-solid fa-arrow-right"></i>
                </a>
              </td>
            </tr>
            <% }) %>
          <% } %>
        </tbody>
      </table>


      <nav aria-label="Page navigation" class="paginationWrap">
        <ul class="pagination">
          <% if (currentPage > 1) { %>
          <li class="hoverable hoverableText">
            <a href="/admin/translations?page=<%= currentPage - 1 %>&query=<%= query %>&filter=<%= filter %>&order=<%= order %>"
              class="">Previous</a>
          </li>
          <% } %>
          
          <% 
            let startPage = Math.max(1, currentPage - 2); 
            let endPage = Math.min(totalPages, startPage + 4);
            
            if (endPage - startPage < 4) {
              startPage = Math.max(1, endPage - 4);
            }

            for (let i = startPage; i <= endPage; i++) { 
          %>
            <li class="pageNumber <%= i === currentPage ? 'active' : '' %> hoverable hoverableShadow">
              <a href="/admin/translations?page=<%= i %>&query=<%= query %>&filter=<%= filter %>&order=<%= order %>">
                <%= i %>
              </a>
            </li>
          <% } %>
          
          <% if (currentPage < totalPages) { %>
          <li class="hoverable hoverableText">
            <a href="/admin/translations?page=<%= currentPage + 1 %>&query=<%= query %>&filter=<%= filter %>&order=<%= order %>"
              class="">Next</a>
          </li>
          <% } %>
        </ul>
      </nav>
  </div>

  <!-- Filter Modal -->
  <div class="modalWrap" id="filterModal">
    <div class="modal">
      <div class="headerFont semi-bold modalTitle" id="inviteUserModalLabel">Filter</div>
      <form action="/admin/translations" method="GET" id="filterModalForm" class="modalForm">
        <div class="inputWrap">
          <!-- <input type="email" class="form-control" id="inviteEmail" required> -->
          <label for="filter" class="form-label">Category</label>
          <select name="filter" class="form-select">
            <option value="all" <%= filter === "all" ? "selected" : "" %>>All Words</option>
            <option value="with_audio" <%= filter === "with_audio" ? "selected" : "" %>>With Audio</option>
            <option value="without_audio" <%= filter === "without_audio" ? "selected" : "" %>>Without Audio</option>
          </select>
          <label for="order" class="form-label">Order by</label>
          <select name="order" class="form-select">
            <option value="asc" <%= order === "asc" ? "selected" : "" %>>A-Z</option>
            <option value="desc" <%= order === "desc" ? "selected" : "" %>>Z-A</option>
          </select>
        </div>
        <button class="submitFilterBtn textBtn hoverable hoverableBtn" type="submit" id="applyFilterBtn">
          Apply
        </button>
      </form>
      <button type="button" class="btn closeModalBtn btn-danger hoverable hoverableBtn" data-bs-dismiss="modal" aria-label="Close">
        <i class="fa-solid fa-xmark"></i>
      </button>
    </div>
  </div>

<%- include('./layout/footer_auth') %>

<script>

  // Closing modals
  document.querySelectorAll(".closeModalBtn").forEach((btn) => {
    btn.addEventListener("click", () => {
      document.getElementById(btn.parentElement.parentElement.id).classList.toggle("modalToggled");
    });
  });

  // Display filter modal
  document.getElementById("filterByBtn").addEventListener("click", () => {
    document.getElementById("filterModal").classList.toggle("modalToggled");
  })

  document.addEventListener("DOMContentLoaded", () => {
    document.querySelectorAll(".play-audio").forEach(container => {
      container.addEventListener("click", function () {

        const audioIcon = container.querySelector(".play-audio-player");
        if (!audioIcon) {
          console.error("No .play-audio-player found inside .play-audio");
          return;
        }

        const audioSrc = audioIcon.getAttribute("data-audio");

        if (!audioSrc || audioSrc === "undefined") {
          console.error("No audio file found!");
          return;
        }

        let existingAudio = document.getElementById("audio-player");
        if (existingAudio) {
          existingAudio.pause();
          existingAudio.currentTime = 0;
          existingAudio.remove();
          
          document.querySelectorAll(".play-audio-player").forEach(icon => {
            icon.classList.remove("fa-circle-play");
            icon.classList.remove("fa-volume-high");
            icon.classList.add("fa-volume-high")
          });
        }

        let audio = document.createElement("audio");
        audio.id = "audio-player";
        audio.src = audioSrc;
        document.body.appendChild(audio);

        audioIcon.classList.remove("fa-volume-high");
        audioIcon.classList.add("fa-circle-play");

        audio.play();

        audio.addEventListener("ended", () => {
          document.querySelectorAll(".play-audio-player").forEach(icon => {
            icon.classList.remove("fa-circle-play");
            icon.classList.remove("fa-volume-high");
            icon.classList.add("fa-volume-high")
          });
        });
      });
    });
  });
</script>
